header
     background: #000
     position: sticky
     top: 0
     z-index: 10
     &.fixed
          position: absolute
          top: 0
          left: 0
          width: 100%
          border-bottom: 0
          background: transparent
          .login_wrap
               .btn
                    color: #bababa
                    border-radius: #bababa
          .balance_wrapper
               background: transparent
               border: #bababa
.home
     position: relative
     width: 100%
     height: 100vh
     display: flex
     overflow: hidden
     align-items: center
     background: #000
     video
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%,-50%)
          margin: auto
          height: 100%
     .container
          z-index: 1
     h2
          font-size: 48px
          font-weight: 600
          color: #fff
          z-index: 1
          small
               font-size: (700%/8)
               font-weight: 100
nav
     display: flex
     flex-wrap: wrap
     height: 77px
     align-items: center
     .menu_button
          +respond-to(medium)
               display: none
          background: transparent
          border: none
          outline: none
          position: relative
          z-index: 11
          &.open
               span
                    &:nth-child(2)
                         transform: translateY(-50%)
                         opacity: 0
                    &:first-child
                         transform: translateY(-50%) rotate(45deg)
                    &:last-child
                         transform: translateY(-50%) rotate(-45deg)
                         
          span
               display: block
               height: 4px
               width: 30px
               background: $dark-grey
               position: absolute
               top: 50%
               right: 0
               transition: all .3s ease-in
               transform: translateY(-50%)
               &:first-child
                    transform: translateY(calc(-100% - 8px))
               &:last-child
                    transform: translateY(calc(-50% + 10px))
     .nav_logo
          margin-right: auto
     .login_wrap    
          margin-left: 20px
          display: flex
          align-items: center
          +respond-to-down(medium)
               display: none
          .btn
               min-width: 75px
          a
               &:not(:last-child)
                    margin-right: 5px
          .admin
               display: flex
               align-items: center
               margin-right: 15px !important
               color: #bababa
               img
                    margin-right: 4px
     ul
          display: flex
          +respond-to-down(medium)
               display: none
          li
               +px(20px)
               font-size: 18px
               line-height: 1
               color: #bdbdbd
               &.active
                    color: $primary
               a
                    line-height: 1
                    color: #bababa

.balance_wrapper
     background: #f3f3f3
     +py(12px)
     border-top: 1px solid #cfcfcf
     text-align: right
     +respond-to-down(medium)
          display: none
     span
          position: relative
          padding-left: 20px
          margin-right: 20px
          color: #bababa
          &::before
               position: absolute
               width: 5px
               height: 5px
               background: #bababa
               top: 50%
               left: 0
               transform: translateY(-50%)
               content: ''
               display: inline-block


.mobile_wrap
     position: fixed
     top: 0
     right: 0
     bottom: 0
     width: 100%
     padding-left: 50px
     background: rgba(0,0 ,0 ,.6 )
     opacity: 0
     visibility: hidden
     transition: all .4s ease-in
     &.open
          opacity: 1
          visibility: visible
     .mobile_menu
          background: #fff
          width: 100%
          height: 100%
          padding-top: 77px
          transition: all .4s ease-in .4s
          .balance_wrap
               border-bottom: 1px solid #cfcfcf
               +px(20px)
               padding-bottom: 20px
               .balance
                    font-size: 18px
                    span
                         float: right
               a
                    margin-top: 10px
          ul
               li
                    height: 70px
                    line-height: 70px
                    +px(20px)
                    font-size: 22px
                    &.active
                         color: $primary
               border-bottom: 1px solid #cfcfcf
          .login_wrap
               display: flex
               padding: 20px
               justify-content: center
               .admin
                    margin-right: auto !important
               a
                    &:not(:last-child)
                         margin-right: 5px
                    
footer
     font-size: 16px
     
     &.fixed
          position: fixed
          bottom: 0
          left: 0
          width: 100%
          color: #7c7c7c
          
     ul
          display: flex
          flex-wrap: wrap
          li
               &:not(:last-child)
                    margin-right: 15px
                    padding-right: 15px
                    position: relative

     