.send_main
     width: 100%
     .send_wrap
          padding-top: 40px
          display: flex
          +respond-to-down(medium)
               flex-direction: column
          //flex-wrap: wrap
     .phone_wrapper,.send_wrapper
          +px(50px)


.phone_wrapper
     position: relative
     .phone
          width: 100%
          position: relative
          padding: 5px
          padding-top: 50px
          margin: auto
          +respond-to(small)
          background-image: url(../images/Phone_1.png)
          background-repeat: no-repeat
          background-position: center center
          width: 305px
          line-height: 0
          textarea
               resize: none
               width: 100%
               border: 0
               background: #f3f3f3
               height: 460px
               padding: 15px
               border-bottom: 1px solid #cccccc
               line-height: 1.5
               &:focus
                    outline: none

          .inner-bytes
               position: absolute
               bottom: 100px
               right: 20px
               text-align: right
          .buttons
               display: flex
               height: 70px
               align-items: center
               justify-content: space-around
               +px(20px)
.send_wrapper
     height: 100%
     display: flex
     flex-direction: column
     align-items: stretch
     +respond-to-down(small)
          padding-top: 0
     h1
          font-size: 36px
          font-weight: 400
          margin-bottom: 40px
          +respond-to-down(medium)
               +my(40px)

          +respond-to-down(small)
               font-size: 20px
               text-align: center
          span
               font-weight: bold
     form
          width: 100%
