

.collapsible {
  background-color: white;
  color: black;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible i {
  font-size: 16px;
  padding-right: 9px;
  color: #009bfa;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  
}

.content p {
  padding: 5px;
}

.message-count {
    position: absolute;
    right: 50%;
    z-index: 1;
    transform: translateY(-100px);
    /* margin-top: 30px; */
    color: #004085;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(204, 229, 255);
    border-color: #b8daff;
    top: 0;
    z-index: 100;
  }
  